@import "common/foundation/variables";

// --------------------------------------------------
// Fonts
// --------------------------------------------------

@font-face {
	font-family: 'Proxima Nova';
	src: url($proximanova-regular-woff) format("woff");
	font-weight: 400
}

@font-face {
	font-family: 'Proxima Nova';
	src: url($proximanova-light-woff) format('woff');
	font-weight: 300
}

@font-face {
	font-family: 'Proxima Nova';
	src: url($proximanova-semibold-woff) format('woff');
	font-weight: 700
}

html {
    font-family: 'Proxima Nova';
}

// --------------------------------------------------
// Testing
// --------------------------------------------------

.hello-world-banner {
    height: 300px;
    width: 100%;
    background: $instagram;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.hello-world {
    font-size: $font-up-6;
	font-weight:700;
    color: $secondary;
}

// --------------------------------------------------
// Buttons
// --------------------------------------------------

.btn {
  border-radius: 3px;
}

// --------------------------------------------------
// Navigation menus
// --------------------------------------------------

// Base
// --------------------------------------------------

%nav {
  margin-left: 0;
  list-style: none;
  li a {
    display: block;
    text-decoration: none;
  }
}

// Pill nav
// --------------------------------------------------

.nav-pills {
  @extend %nav;
  @extend .clearfix;

  > li {
    float: left;
    margin-right: 5px;

    > a {
      border: none;
      padding: 6px 12px;
      color: $primary;
      font-size: $font-up-1;
      line-height: $line-height-small;
      box-sizing: border-box;
      min-height: 30px;
      display: flex;
      align-items: center;
      transition: background 0.15s;

      .d-icon {
        margin-right: 5px;
        opacity: 0.65;
      }

      &:hover {
        color: $quaternary;
        background-color: $quaternary-low;
      }
    }

    &.active > a,
    > a.active {
      color: $quaternary;
      border-bottom: 3px solid $quaternary;

      .d-icon {
        opacity: 1;
      }
    }
  }
}
