@import "foundation/variables.scss";

// --------------------------------------------------
// Fonts
// --------------------------------------------------

@font-face {
   font-family: 'Proxima Nova';
   src: url($proximanova-regular-woff) format("woff");
   font-weight: 400
}

@font-face {
   font-family: 'Proxima Nova';
   src: url($proximanova-light-woff) format('woff');
   font-weight: 300
}

@font-face {
   font-family: 'Proxima Nova';
   src: url($proximanova-semibold-woff) format('woff');
   font-weight: 700
}

html {
   font-family: 'Proxima Nova';
}

// --------------------------------------------------
// Buttons
// --------------------------------------------------

.btn {
   border-radius: 3px;
}

// --------------------------------------------------
// List Controls
// --------------------------------------------------

.list-controls {
	
   // Category selector
   .combo-box .combo-box-header {
      border-radius: 3px;
   }

   // Breadcrumb spacing
   ol.category-breadcrumb {
      margin: 0 32px 10px 0;
   }

   // Tab styles
   .nav-pills {
      > li {
         margin-right: 24px;
	      
	 > a {
            padding: 6px 0;
		 
            &:hover {
	       color: $tertiary;
	       background: none;
	       border-bottom: 3px solid $tertiary;
            }
	 }

         &.active > a,
	 > a.active {
            color: $tertiary;
	    background: none;
	    border-bottom: 3px solid $tertiary;
	 }
      }
   }
	
   // New topic button
   .btn {
      color: $twitter;
      background: $tertiary;

      &[href] {
         color: $secondary;
      }
      .discourse-no-touch & {
         // only allow hover on no-touch devices
         &:hover,
         &.btn-hover {
            background: dark-light-choose(
               scale-color($tertiary, $lightness: -20%),
               scale-color($tertiary, $lightness: 20%)
            );
         }
      }
      /*&:active,
      &.btn-active {
         @include linear-gradient(
            scale-color($tertiary, $lightness: -20%),
            $tertiary
         );
      }*/
      &[disabled],
      &.disabled {
         background: $tertiary;
      }
   }
	
}

// --------------------------------------------------
// Topic List
// --------------------------------------------------

// Remove the "last visit" line
.topic-list-item-separator {
   display: none;
}
.topic-list tbody tr.last-visit {
   border-bottom: 1px solid #ebeef1;
}

// Hide category colour badges
.badge-wrapper.bullet .badge-category-parent-bg, .badge-wrapper.bullet .badge-category-bg {
   display: none;
}
.category-list tbody .category {
   border-left: none;
}

// Smaller footer message
.footer-message h3,
h3.suggested-topics-message {
   color: dark-light-choose($primary-medium, $secondary-medium);
   font-size: $font-0;
   font-weight: 400;
}

// Visited and not visited topics
.topic-list-item.visited a.title:not(.badge-notification), .latest-topic-list-item.visited a.title:not(.badge-notification), .category-topic-link.visited a.title:not(.badge-notification) {
   color: $primary-medium;
   font-weight: 400;
}
.topic-list-main-link a.title, .topic-list .main-link a.title, .latest-topic-list-item .main-link a.title {
   color: $primary;
   font-weight: 700;
}

// Overlap avatars
.topic-list .posters {
   a {
      margin-right: -5px;
   }
   img.avatar {
      border: 2px solid $secondary;
   }
}

// Colour of category title
.category-list tbody .category h3 a[href] {
   color: $primary;
}

// New topic badge
.badge-notification.new-topic {
   background: $tertiary;
   color: $secondary;
   font-size: $font-down-3;
   text-transform: capitalize;
	
   &::before {
      content: attr(title);
   }
}

// New replies badge
.topic-list {
   .badge-notification.new-posts, .badge-notification.unread-posts {
      background: $tertiary;
      color: $secondary;
      font-size: $font-down-3;
      text-transform: capitalize;

      &::after {
         content: " New Replies";
      }
   }
   .badge-notification.new-posts[title="you have 1 unread post in this topic"] {
      &::after {
         content: " New Reply";
      }
   }
}

// Large creator avatar
.creator-avatar {
   display: block;
   height: 32px;
   width: 32px;
   float: left;
   margin: 3px 16px 0 0;
}

// Hide the creator avatar from the posters list
.posters a:first-child {
   display: none;
}

// Pin colour
.topic-list-icons .d-icon-thumbtack.unpinned, .latest-topic-list .d-icon-thumbtack.unpinned, .top-topic-list .d-icon-thumbtack.unpinned, .topic-list .d-icon-thumbtack.unpinned,
.topic-list-icons .d-icon-thumbtack, .latest-topic-list .d-icon-thumbtack, .top-topic-list .d-icon-thumbtack, .topic-list .d-icon-thumbtack {
   color: $tertiary;
}

// Spacing
.topic-list th, .topic-list td {
   padding: 16px 4px;
}

// Byline (poster name, date, category) text styles
.link-bottom-line .byline {
   color: $primary-high;
   font-size: $font-down-1;
   font-weight: 400;
   
   a {
      color: $primary-high;
      font-weight: 400;
      text-decoration: underline;
   }
}
.link-bottom-line .badge-wrapper {
   font-weight: 400;
   text-decoration: underline;
}

// --------------------------------------------------
// Topic Page
// --------------------------------------------------

// Hide the topic map
.topic-map {
   display: none;
}

// Hide bookmark button
.topic-footer-main-buttons button.bookmark {
   display: none;
}

// Suggested topics list
h3.suggested-topics-title {
   color: $quaternary;
   font-weight: 400;
   font-size: $font-up-3;
}
.suggested-topics {
   padding-top:140px;
}
