@import "common/foundation/variables";

// --------------------------------------------------
// Fonts
// --------------------------------------------------

@font-face {
   font-family: 'Proxima Nova';
   src: url($proximanova-regular-woff) format("woff");
   font-weight: 400
}

@font-face {
   font-family: 'Proxima Nova';
   src: url($proximanova-light-woff) format('woff');
   font-weight: 300
}

@font-face {
   font-family: 'Proxima Nova';
   src: url($proximanova-semibold-woff) format('woff');
   font-weight: 700
}

html {
   font-family: 'Proxima Nova';
}

// --------------------------------------------------
// Testing
// --------------------------------------------------

.hello-world-banner {
   height: 300px;
   width: 100%;
   background: $instagram;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 1em;
}

.hello-world {
   font-size: $font-up-6;
   font-weight:700;
   color: $secondary;
}

// --------------------------------------------------
// Buttons
// --------------------------------------------------

.btn {
   border-radius: 3px;
}

// --------------------------------------------------
// List Controls
// --------------------------------------------------

.list-controls {
	
   // Category selector
   .combo-box .combo-box-header {
      border-radius: 3px;
   }

   // Breadcrumb spacing
   ol.category-breadcrumb {
      margin: 0 32px 10px 0;
   }

   // Tab styles
   .nav-pills {
      > li {
         margin-right: 24px;
	      
	 > a {
            padding: 6px 0;
		 
            &:hover {
	       color: $tertiary;
	       background: none;
	       border-bottom: 3px solid $tertiary;
            }
	 }

         &.active > a,
	 > a.active {
            color: $tertiary;
	    background: none;
	    border-bottom: 3px solid $tertiary;
	 }
      }
   }
	
   // New topic button
   .btn {
      color: $secondary;
      background: $tertiary;

      &[href] {
         color: $secondary;
      }
      .discourse-no-touch & {
         // only allow hover on no-touch devices
         &:hover,
         &.btn-hover {
            background: dark-light-choose(
               scale-color($tertiary, $lightness: -20%),
               scale-color($tertiary, $lightness: 20%)
            );
         }
      }
      /*&:active,
      &.btn-active {
         @include linear-gradient(
            scale-color($tertiary, $lightness: -20%),
            $tertiary
         );
      }*/
      &[disabled],
      &.disabled {
         background: $tertiary;
      }
   }
	
}

// --------------------------------------------------
// Topic List
// --------------------------------------------------

// Remove the "last visit" line
.topic-list-item-separator {
   display: none;
}
.topic-list tbody tr.last-visit {
   border-bottom: 1px solid #ebeef1;
}

// Hide category colour badges
.badge-wrapper.bullet .badge-category-parent-bg, .badge-wrapper.bullet .badge-category-bg {
   display: none;
}
.category-list tbody .category {
   border-left: none;
}

// Smaller footer message
.footer-message h3 {
   font-size: $font-0;
   font-weight: 400;
}

// Visited and not visited topics
.topic-list-item.visited a.title:not(.badge-notification), .latest-topic-list-item.visited a.title:not(.badge-notification), .category-topic-link.visited a.title:not(.badge-notification) {
   color: $primary;
   font-weight: 400;
}
.topic-list-main-link a.title, .topic-list .main-link a.title, .latest-topic-list-item .main-link a.title {
   color: $quaternary;
   font-weight: 700;
}

// Overlap avatars
.topic-list .posters {
   a {
      margin-right: -5px;
   }
   img.avatar {
      border: 2px solid $secondary;
   }
}

//Colour of category title
.category-list tbody .category h3 a[href] {
   color: $quaternary;
}

//New topic badge
.badge-notification.new-topic {
   background: $tertiary;
   color: $secondary;
   font-size: $font-down-2;
   text-transform: capitalize;
	
   &::before {
      content: attr(title);
   }
}
